<ul>
  <li>
  	<a routerLink="/students">
  		<i class="fa fa-home" aria-hidden="true">
  		</i>
      Home
  	</a>
  </li>
  <li>
  	<a href="#news">
  		<i class="fa fa-phone" aria-hidden="true">
  		</i>
      Communication
  	</a>
  </li>
  <li>
  	<a href="#contact">
  		<i class="fa fa-credit-card" aria-hidden="true">
  		</i>
      History
  	</a>
  </li>
  <li>
    <a routerLink="subscriptionAll">
      <i class="fa fa-money" aria-hidden="true"></i>
      Subscription
    </a>
  </li>
  <!--li style="float:right"><a class="active" href="#about">About</a></li-->
  <li style="float: right">
  	<a  href="#about">
	  	<i class="fa fa-sign-out" aria-hidden="true">
	  	</i>
      Logout
	</a>
  </li>
</ul>
