<div class="panel-body">
  <table class="table table-striped" [mfData]="sessions" #mf="mfDataTable"
         [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="id">Id</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="session_start">Session start</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="session_end">Session end</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="session_token">Session token</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let session of mf.data">
      <td>{{session.id}}</td>
      <td>{{session.session_start}}</td>
      <td>{{session.session_end}}</td>
      <td>{{session.session_token}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
