<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Subscription</h3>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label class="col-xs-12 label-control">Search</label>
      <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by email or reference no"/>
    </div>
    <div class="col-xs-2">
      <label class="label-control">Rows on page</label>
      <select class="form-control " style="height: 30px;" [(ngModel)]="rowsOnPage">
        <option [ngValue]="2">2</option>
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
      </select>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <label class="col-xs-12 label-control">Sort by</label>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <select class="form-control " style="height: 30px;"[(ngModel)]="sortBy">
            <option ngValue="email">Email</option>
            <option ngValue="std_id">Student id</option>
            <option ngValue="reference">reference</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <select class="form-control" style="height: 30px;"[(ngModel)]="sortOrder">
            <option ngValue="asc">Ascending</option>
            <option ngValue="desc">Descending</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" [mfData]="subscriptions | subscriptionFilter : filterQuery" #mf="mfDataTable"
           [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th>
            <mfDefaultSorter by="std_id">Student id</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="reference">reference no</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="email">Email</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="package">Package</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="curriculumn">Curriculum</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="DOJ">Date of join</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="userStatus">Status</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="paymentStatus">payment status</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="amount">amount</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="balance">balance</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subscription of mf.data">
          <td>{{subscription.std_id}}</td>
          <td>{{subscription.reference}}</td>
          <td>{{subscription.email}}</td>
          <td>{{subscription.package}}</td>
          <td>{{subscription.curriculumn}}</td>
          <td>{{subscription.DOJ}}</td>
          <td [ngSwitch]="subscription.userStatus">
            <span *ngSwitchCase="1" class="label label-success">Active</span>
            <span *ngSwitchCase="0" class="label label-danger">DeActive</span>
          </td>
          <td [ngSwitch]="subscription.paymetStatus">
            <span *ngSwitchCase="1" class="label label-success">Paid</span>
            <span *ngSwitchCase="0" class="label label-danger">Expired</span>
          </td>
          <td>{{subscription.amount}}</td>
          <td>{{subscription.balance}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

