<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Communication History</h3>
  </div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Edit Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>
</div>