<h2>Subscription Panel</h2>
<div class="panel panel-default">
  	<div class="panel-heading clearfix">
    	<h3 class="panel-title pull-left">Subscription Details</h3>
    </div>
    <div class="list-group">
    	<div class="list-group-item">
	        <p class="list-group-item-text">Stream</p>
	        <h4 class="list-group-item-heading">John Smith</h4>
	    </div>
	    <div class="list-group-item">
	        <p class="list-group-item-text"> Curriculum</p>
	        <h4 class="list-group-item-heading">John Smith</h4>
	    </div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Grade</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Date of join</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Username</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Password</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Portal Status</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Payment Term</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Payment status</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Next payment date</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
        <div class="list-group-item">
          <p class="list-group-item-text">Next payment amount</p>
          <h4 class="list-group-item-heading">Web Developer</h4>
        </div>
        <div class="list-group-item">
          <p class="list-group-item-text">Balance</p>
          <h4 class="list-group-item-heading">Web Developer</h4>
        </div>
    </div>
</div>
