<h2>School information Panel</h2>
<div class="panel panel-default">
  	<div class="panel-heading clearfix">
    	<h3 class="panel-title pull-left">School Details</h3>
    </div>
    <div class="list-group">
    	<div class="list-group-item">
	        <p class="list-group-item-text">Grade In School</p>
	        <h4 class="list-group-item-heading">John Smith</h4>
	    </div>
	    <div class="list-group-item">
	        <p class="list-group-item-text"> Present School name</p>
	        <h4 class="list-group-item-heading">John Smith</h4>
	    </div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Start of School Intake</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
      	<div class="list-group-item">
        	<p class="list-group-item-text">Present School Type</p>
        	<h4 class="list-group-item-heading">Web Developer</h4>
      	</div>
        <div class="list-group-item">
          <p class="list-group-item-text">School city</p>
          <h4 class="list-group-item-heading">Web Developer</h4>
        </div>
    </div>
</div>
