<div class="panel-body" *ngIf="passwordHistory">
  <table class="table table-striped" [mfData]="passwordHistory" #mf="mfDataTable"
         [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead class="backThread">
    <tr>
      <th>
        <mfDefaultSorter by="id">Id</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="status">Status</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="created_date">Created date</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="created_by">Created by</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let password of mf.data">
      <td>{{password.id}}</td>
      <td [ngSwitch]="password.status">
        {{password.status}}
        <!--<span *ngSwitchCase="success" class="label label-success">Success</span>-->
        <!--<span *ngSwitchCase="failed" class="label label-warning">Success</span>-->
      </td>
      <td>{{password.created_date}}</td>
      <td>{{password.created_by}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
