<h2>Transaction information Panel</h2>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Transaction ID</th>
      <th>Invoice NO</th>
      <th>Student Id</th>
      <th>Payment type</th>
      <th>Payment Date</th>
      <th>Amount</th>
      <th>Successfull</th>
      <th>Cardholder name</th>
      <th>Card number</th>
    </tr>
  </thead>
  <tbody *ngIf="transactionInfo">
    <tr *ngFor="let transaction of transactionInfo">
      <th scope="row">{{transaction.id}}</th>
      <td>{{transaction.invoiceNo}}</td>
      <td>{{transaction.student_id}}</td>
      <td>{{transaction.payment_method}}</td>
      <td>{{transaction.date}}</td>
      <td>{{transaction.paid_amount}}</td>
      <td>{{transaction.paid_amount}}</td>
      <td>{{transaction.cardholder_name}}</td>
      <td>{{transaction.card_no}}</td>
    </tr>
  </tbody>
</table>