<h2>Transaction information Panel</h2>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Transaction ID</th>
      <th>Invoice NO</th>
      <th>Student Id</th>
      <th>Payment type</th>
      <th>Payment Date</th>
      <th>Amount</th>
      <th>Successfull</th>
      <th>Cardholder name</th>
      <th>Card number</th>
    </tr>
  </thead>
  <tbody *ngIf="transactionInfo">
    <tr *ngFor="let transaction of transactionInfo">
      <th scope="row" *ngIf="transaction.id">{{transaction.id}}</th>
      <td *ngIf="transaction.invoiceNo">{{transaction.invoiceNo}}</td>
      <td *ngIf="transaction.student_id">{{transaction.student_id}}</td>
      <td *ngIf="transaction.payment_method">{{transaction.payment_method}}</td>
      <td *ngIf="transaction.date">{{transaction.date}}</td>
      <td *ngIf="transaction.paid_amount">{{transaction.paid_amount}}</td>
      <td *ngIf="transaction.paid_amount">{{transaction.paid_amount}}</td>
      <td *ngIf="transaction.cardholder_name">{{transaction.cardholder_name}}</td>
      <td *ngIf="transaction.card_no">{{transaction.card_no}}</td>
    </tr>
  </tbody>
</table>