<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#red" data-toggle="tab">Student </a></li>
        <li><a href="#orange" data-toggle="tab">School </a></li>
        <li><a href="#yellow" data-toggle="tab">Subscription</a></li>
        <li><a href="#green" data-toggle="tab">Transaction History</a></li>
        <li><a href="#blue" data-toggle="tab">Communication</a></li>
        <li><a href="#history" data-toggle="tab">History</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="red">
            <basic-info></basic-info>
        </div>
        <div class="tab-pane" id="orange">
            <school-info></school-info>
        </div>
        <div class="tab-pane" id="yellow">
            <subscription-info></subscription-info>
        </div>
        <div class="tab-pane" id="green">
            <transaction-info></transaction-info>
        </div>
        <div class="tab-pane" id="blue">
            <communication-info></communication-info>
        </div>
        <div class="tab-pane" id="history">
            <history-panel></history-panel>
        </div>
    </div>
</div>
