<h2>History Panel</h2>
<div class="panel panel-default">
  	<div class="list-group">
	  <a href="#" class="list-group-item" data-toggle="collapse" data-target="#edit"><i class="fa fa-pencil"></i>Edits</a>
	  <div id="edit" class="collapse">
	  	<communication-history></communication-history>
	  </div>
	  <a href="#" class="list-group-item" data-toggle="collapse" data-target="#password"><i class="fa fa-key" aria-hidden="true"></i>Passwords</a>
	  <div id="password" class="collapse">
	  	<communication-history></communication-history>
	  </div>
	  <a href="#" class="list-group-item" data-toggle="collapse" data-target="#loginlogout"><i class="fa fa-sign-in" aria-hidden="true"></i>Login in/out</a>
	  <div id="loginlogout" class="collapse">
	  	<communication-history></communication-history>
	  </div>
	  <a href="#" class="list-group-item" data-toggle="collapse" data-target="#package"><i class="fa fa-briefcase" aria-hidden="true"></i>Package</a>
	  <div id="package" class="collapse">
	  	<communication-history></communication-history>
	  </div>
	  <a href="#" class="list-group-item" data-toggle="collapse" data-target="#prices"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Prices</a>
	  <div id="prices" class="collapse">
	  	<communication-history></communication-history>
	  </div>
	  <a href="#" class="list-group-item" data-toggle="collapse" data-target="#communication"><i class="fa fa-phone" aria-hidden="true"></i>Communication</a>
	  <div id="communication" class="collapse">
	  	<communication-history></communication-history>
	  </div>
	</div>
</div>

